<!doctype html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url("../Images/HotDogBackground.gif");
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div id="first">
      <p>
        <input
          type="file"
          accept="image/*"
          name="image"
          id="file"
          onchange="loadFile(event)"
        />
      </p>
      <div id="first">
        <p>
          <img id="output" width="200" height="200" />
        </p>
      </div>
      <script src="../scripts.js"></script>
    </div>
  </body>
</html>
